<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.web.web"
    android:installLocation="auto"
    android:versionCode="11"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission-sdk-23 android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission-sdk-23 android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    

    <application
        android:name="com.web.common.base.MyApplication"
        android:networkSecurityConfig="@xml/net_security"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppStyle"
        tools:ignore="UnusedAttribute">
        <!--<activity android:name="com.web.moudle.albumEntry.ui.MusicDetailActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        
        <provider
            android:authorities="${applicationId}"
            android:grantUriPermissions="true"
            android:exported="false"
            android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/paths"/>
        </provider>
        <receiver
            android:name=".Alarm"
            android:process=":remote" />

        <activity
            android:name="com.web.moudle.music.page.local.MusicActivity"
            android:label="@string/outerMusicLabel"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/FullscreenTheme"
            android:name=".HelloActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Browser"
            android:configChanges="orientation|screenSize"
            android:label="@string/webview_choose"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="text/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Alarm_Activity" />
        <activity android:name=".Ring" />

        <service android:name="com.web.moudle.music.player.MusicPlay" />
        <service android:name="com.web.moudle.service.FileDownloadService" />
        <service android:name="com.web.moudle.service.UpdateService" />

        <activity android:name="com.web.moudle.setting.ui.SettingActivity" />
        <activity android:name="com.web.moudle.musicDownload.ui.MusicDownLoadActivity"/>
        <activity
            android:name="com.web.subWeb.File_download_sure"
            android:theme="@style/ActivityTransparent" />
        <activity android:name="com.web.subWeb.ProhibitWebSite" />
        <activity android:name=".Computer" />
        <activity android:name="com.web.subWeb.VideoPlay" />
        <activity
            android:name="com.web.moudle.lockScreen.ui.LockScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:taskAffinity="sfsddf.sdf"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name="com.web.moudle.setting.suffix.SuffixSelectActivity" />
        <activity android:name="com.web.moudle.setting.lockscreen.LockScreenSettingActivity" />
        <activity android:name="com.web.moudle.search.SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.web.moudle.musicSearch.ui.InternetMusicActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name="com.web.moudle.albumEntry.ui.AlbumEntryActivity" />
        <activity android:name="com.web.moudle.singerEntry.ui.SingerEntryActivity" />
        <activity android:name="com.web.moudle.musicEntry.ui.MusicDetailActivity" />
        <activity android:name="com.web.moudle.songSheetEntry.ui.SongSheetActivity" />
        <activity android:name="com.web.moudle.videoEntry.ui.VideoEntryActivity"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity android:name="com.web.moudle.videoEntry.ui.VideoWebViewActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name="com.web.moudle.billboard.BillBoardActivity" />
        <activity android:name="com.web.moudle.billboradDetail.NetMusicListActivity" />
        <activity
            android:theme="@style/ActivityTransparent"
            android:name="com.web.moudle.lyrics.LyricsActivity" />
        <activity android:name="com.web.moudle.setting.about.AboutActivity" />

    </application>

</manifest>