<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:versionCode="11"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission-sdk-23 android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission-sdk-23 android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:name="com.web.app.MyApplication"
        android:networkSecurityConfig="@xml/net_security"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="${APP_NAME}"
        android:theme="@style/AppStyle"
        tools:ignore="UnusedAttribute"
        tools:replace="android:label">
        <meta-data
            android:name="BUGLY_APPID"
            android:value="870075f61a"
            />
        <!--<meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1" />
        &lt;!&ndash; 配置APP渠道号 &ndash;&gt;
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="<APP_Channel>" />-->
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="480"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="853"/>

        <provider
            android:authorities="${applicationId}"
            android:grantUriPermissions="true"
            android:exported="false"
            android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/paths"/>
        </provider>

        <activity
            android:name="com.web.moudle.music.page.local.MusicActivity"
            android:label="@string/outerMusicLabel"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/FullscreenTheme"
            android:name="com.web.web.HelloActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="${APP_NAME}"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.web.web.Browser"
            android:configChanges="orientation|screenSize"
            android:label="@string/webview_choose"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="text/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.web.web.Alarm_Activity" />

        <service android:name="com.web.moudle.music.player.NewPlayer" />
        <service android:name="com.web.moudle.service.FileDownloadService" />
        <service android:name="com.web.moudle.service.UpdateService" />

        <activity android:name="com.web.moudle.setting.ui.SettingActivity" />
        <activity android:name="com.web.moudle.musicDownload.ui.MusicDownLoadActivity"/>
        <activity
            android:name="com.web.subWeb.File_download_sure"
            android:theme="@style/ActivityTransparent" />
        <activity android:name="com.web.subWeb.ProhibitWebSite" />
        <activity android:name="com.web.web.Computer" />
        <activity android:name="com.web.subWeb.VideoPlay" />
        <activity
            android:name="com.web.moudle.lockScreen.ui.LockScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name="com.web.moudle.setting.suffix.SuffixSelectActivity" />
        <activity android:name="com.web.moudle.setting.lockscreen.LockScreenSettingActivity" />
        <activity android:name="com.web.moudle.search.SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.web.moudle.musicSearch.ui.InternetMusicActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name="com.web.moudle.albumEntry.ui.AlbumEntryActivity" />
        <activity android:name="com.web.moudle.singerEntry.ui.SingerEntryActivity" />
        <activity android:name="com.web.moudle.musicEntry.ui.MusicDetailActivity" />
        <activity android:name="com.web.moudle.songSheetEntry.ui.SongSheetActivity" />
        <activity android:name="com.web.moudle.videoEntry.ui.VideoEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name="com.web.moudle.videoEntry.ui.VideoWebViewActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|orientation|screenSize"
            />
        <activity android:name="com.web.moudle.billboard.BillBoardActivity" />
        <activity android:name="com.web.moudle.billboradDetail.NetMusicListActivity" />
        <activity
            android:theme="@style/ActivityTransparent"
            android:name="com.web.moudle.lyrics.LyricsActivity" />
        <activity android:name="com.web.moudle.setting.about.AboutActivity" />
        <activity android:name="com.web.moudle.lyrics.EqualizerActivity" />
        <activity android:name="com.web.moudle.setting.cache.CacheActivity" />
        <activity android:name="com.web.moudle.setting.chooser.LocalChooserActivity" />
        <activity android:name="com.web.moudle.setting.lyrics.LyricsSettingActivity" />
        <activity android:name="com.web.moudle.artist.ArtistTypeActivity" />
        <activity android:name="com.web.moudle.home.HomePageActivity"
            android:configChanges="keyboard|orientation|screenSize|smallestScreenSize|screenLayout"/>
        <activity android:name="com.web.moudle.recentListen.RecentListenActivity" />
        <activity android:name="com.web.moudle.singerEntry.ui.SingerEntryActivityNew" />
        <activity android:name="com.web.moudle.login.LoginActivity"
            android:configChanges="keyboard|orientation|screenSize|smallestScreenSize|screenLayout"/>
        <activity android:name="com.web.moudle.recentListen.MySongSheetInfoActivity" />

    </application>

</manifest>